* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cattedrale-Demo", cursive;
  color: #343434;
  background-color: #DBD9D8;
  width: 100%;
  height: 100vh;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.title {
  font-family: "IM Fell DW Pica", serif;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}

#cityID {
  position: relative;
  top: -3.5rem;
  font-size: 200px;
  margin-bottom: -3rem;
}

#temperature {
  font-size: 70px;
}

#description {
  font-size: 94px;
  color: #FAFAFA;
  letter-spacing: 0.2rem;
}

.search-box {
  display: flex;
  flex-direction: column;
}

#cityName {
  font-family: "IM Fell DW Pica", serif;
  font-size: 1rem;
  text-align: center;
  width: 386px;
  height: 42px;
  border-radius: 6px;
  border-style: none;
}

.hare {
  width: 200px;
  margin: 0 3rem 0 3rem;
}

.left {
  transform: scaleX(-1);
}

span.img {
  display: flex;
}

.search-bar {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 1rem;
}

.fa-solid, .fa-magnifying-glass {
  position: absolute;
  right: 0;
  padding-right: 0.7rem;
  color: #343434;
  cursor: pointer;
}

.refresh {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin: 1.7rem;
  width: 40px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.label-text {
  display: flex;
  justify-content: center;
  font-family: "IM Fell DW Pica", serif;
  font-size: 1.4rem;
  color: #343434;
}

button {
  margin-top: 15px;
}

.five-days {
  font-family: "IM Fell DW Pica", serif;
  display: flex;
  margin-top: 5rem;
  gap: 4rem;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
  color: #343434;
  background-color: rgba(250, 250, 250, 0.69);
  border-radius: 6px;
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #cityID {
    font-size: 150px;
  }

  #temperature {
    font-size: 45px;
  }

  #description {
    font-size: 55px;
  }

  .label-text {
    font-size: 1.1rem;
  }

  #cityName {
    width: 200px;
    height: 26px;
  }

  .five-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  body {
    height: 100%;
  }

  .title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  #cityID {
    font-size: 150px;
  }

  #temperature {
    font-size: 45px;
  }

  #description {
    font-size: 55px;
  }

  .label-text {
    font-size: 1.1rem;
  }

  #cityName {
    width: 200px;
    height: 26px;
  }

  .five-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .five-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .five-days {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
